:root {
  --check: "hej";
}

input[type=text]{
  width: 100%;
  font-size: larger;
  border: 0;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]~.check::before{
  content: url('../graphics/check.png');
  filter: saturate(0) brightness(150%);
  margin-right: 10px;
}

input[type="radio"]:checked~.check::before{
  filter: saturate(0) brightness(100%);
}

input[type="radio"]:checked~.text, input[type="radio"]:checked~*>.text{
  font-weight: bold;
}

.check{
  display: flex;
  align-items: center;
}

button{
  background: Turquoise;
  border: 0;
  padding: 15px;
  font-size: larger;
  color: white;
  cursor: pointer;
}

button:disabled{
  cursor: default;
}

label{
  display: flex;
  margin-bottom: 5px;
}

label input {
  margin-right: 10px;
}

label:not(.lock):hover{
  text-decoration: underline;
}

label.lock:not(.showCorrect){
  filter: opacity(0.25);
}

label.showCorrect .check::before{
  /*filter: saturate(1) !important;*/
}
